<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
  
    <%= t.include("partials/_nav.html") %>
    
    <%= t.include("partials/_ad.html", { type: "banner" }) %>
    
    <h1>Videos of the year 2015</h1>

    <p class="chatter">
      Watch some of our favorite and most popular Seattle Times video stories
    </p>

    <div class="feature-player">
      <div class="video-container aspect-outer pending">
        <div class="aspect-inner">
          <video
            data-account="1509317113"
            data-player="default"
            data-embed="default"
            id="player"
            class="video-js" controls>
          </video>
        </div>
      </div>
      <hr>
      <div class="playlist-controls">
        <ul class="choose-playlist">
          <li data-playlist="4663810165001" class="playlist active">Top videos</li>
          <li data-playlist="4664303231001" class="playlist">Most popular</li>
        </ul>
        <div class="playlist-container loading"></div>
        </div>
    </div>
    
    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
